<aside class="side-bar-area">
    <div class="friends-list">
      <p class="friends-list-header">FRIENDS</p> 
       <button class="btn btn-primary" data-bs-target="#friendModal" data-bs-toggle="modal" type="button">Add Friends</button>
      <div class="height400">
      <% if !@friend_list.nil? && !@friend_list.blank? %>
        <%@friend_list.each do |friend|%>
            <a class="friend-name"><%=friend.name%></a>
        <%end%>
      <%else%>
           <a class="friend-name">No record</a>
      <%end%>
      </div>
    </div>
</aside>